.trabajo {
    background: rgb(3,131,150);
    background: linear-gradient(180deg, rgba(3,131,150,1) 70%, rgba(94,75,126,1) 100%);
    width: 100%;
    height: 55vh;
    text-align: center;
}

.trabajo h1 {
    font-size: 4rem;
    color: var(--yellow);
    text-shadow: 1.5px 1.5px black;
}

.trabajo i {
    /* background: red; */
    width: 70px;
    height: 70px;
    /* background: -webkit-linear-gradient(270deg, rgba(102,118,122,1) 0%, rgba(201,207,208,1) 73%, rgba(255,255,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

.trabajo-list {
    /* background: white; */
    display: flex;
    justify-content: space-around;
}

.workfit {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    /* background: red; */
    margin: 2rem 0;
    border-radius: 50%;
}

.workfit p {
    max-width: 300px;
    text-align: center;
    font-size: 2rem;
    
}

.workfit:hover {
    transition: all 0.3s ease;
    transform: scale(1.1);
}
.workfit:hover {
    transition: all 0.3s ease;
    background: rgb(1,0,1);
background: radial-gradient(circle, rgba(1,0,1,0.23853291316526615) 0%, rgba(147,169,196,0) 100%);
}