@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Anek Telugu', sans-serif;
}

body {
    background: #026C7C;
}

header {
    background-color: #055864;
    padding: 20px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-logo img {
    height: 100px;
    width: 100px;
    margin-left: 25px;
    display: flex;
    justify-content: center;
}


.content ul {
    padding: 20px;
    margin: 0px 100px;
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar ul li a {
    margin: 0 15px;
    padding: 10px 10px;
    color: white;
    font-size: 20px;
    transition: all 0.3s;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 5px 5px #026C7C;
}

.navbar ul li a:hover {
    background-color: #B81365;
    color: #BFAB25;
    font-size: 25px;
}

.texto {
    width: 50vw;
    text-align: center;
    font-size: 2.5rem;
    /* background: red; */
}

.texto span {
    color: cornsilk;
    text-shadow: 1.5px 1.5px black;
}

.text-container {
    height: 100vh;
    background-image: url(./img/motocross.jpg);
    background-position: center;
    background-size: cover;
}

.text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.boton-1 ul {
    padding: 20px;
    margin: 0px 100px;
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.boton-1 ul li a {
    background-color: #B81365;
    margin: 0 15px;
    padding: 10px 10px;
    color: white;
    font-size: 20px;
    transition: all 0.3s;
    text-decoration: none;
    border-radius: 25px;
    box-shadow: 5px 5px #026C7C;
}

.boton-1 ul li a:hover {
    background-color: aliceblue;
    color: black;
}

footer {
    height: 10vh;
    text-align: center;
}

